.navbar {
  width: 100%;
  height: 110px;
  background-color: var(--background-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  /* needs to be raised for the backdrop and the sidebar */
  z-index: 50;
}

.navbar__logo h2 {
  color: var(--font-main);
  font-size: 1.4rem;
  cursor: pointer;
}

.navbar__links {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.navbar__links > li {
  padding-left: 1.5rem;
}

.navbar__links > li > a {
  text-decoration: none;
  color: var(--font-main);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.navbar__links > li > a > span {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.cart__link {
  background-color: var(--button-background);
  padding: 10px;
  border-radius: 8px;
}

.cart__link:hover {
  background-color: var(--button-background-hover);
  color: var(--font-main);
}

.cartlogo__badge {
  width: 30px;
  height: 30px;
  background-color: var(--font-main);
  border-radius: 50%;
  margin-left: 8px;
  color: var(--background-main);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.hamburger__menu {
  width: 30px;
  height: 30px;
  /* turn flex under media q */
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.hamburger__menu > div {
  width: 100%;
  height: 3px;
  background-color: var(--font-main);
}

.hamburger__menu:hover > div {
  background-color: var(--button-background-hover);
}

@media (max-width: 960px) {
  .navbar__links {
    display: none;
  }
  .hamburger__menu {
    display: flex;
  }
}

@media (max-width: 500px) {
  .navbar__logo h2 {
    font-size: 1rem;
  }
}
