.navbar {
  width: 100%;
  display: flex;
  background-color: var(--background-dark1);
  justify-content: center;
  /* needs to be raised for the backdrop and the sidebar */
  z-index: 50;
  font-weight: 100;
  text-transform: uppercase;
}

.navbar__container {
  width: 1390px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  /* needs to be raised for the backdrop and the sidebar */
  z-index: 50;
}

.navbar__logo h2 {
  display: flex;
  align-items: center;
  color: var(--font-white-primary);
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 700;
}

.navbar__logo h2 span {
  color: var(--font-pink-primary);
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: 400;
}

.navbar__links {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.navbar__links > li {
  padding-left: 1.5rem;
}

.navbar__links > li > a {
  text-decoration: none;
  color: var(--font-white-primary);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px;
}

.navbar__link {
  width: 70px;
}

.navbar__link:hover {
  font-weight: 400;
  background-color: var(--button-background-dark1);
  border-radius: 8px;
}

.navbar__link:active {
  transform: scale(0.98);
}

.navbar__links > li > a > span {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.cart__link {
  background-color: var(--button-background-dark1);
  padding: 10px;
  border-radius: 8px;
}

.cart__link:hover {
  background-color: var(--font-pink-primary);
  color: var(--font-white-primary);
  font-weight: 400;
}

.cart__link:active {
  transform: scale(0.98);
}

.cartlogo__badge {
  width: 30px;
  height: 30px;
  background-color: var(--font-white-primary);
  border-radius: 50%;
  margin-left: 8px;
  color: var(--background-dark1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.hamburger__menu {
  width: 30px;
  height: 30px;
  /* turn flex under media q */
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.hamburger__menu > div {
  width: 100%;
  height: 3px;
  background-color: var(--font-white-primary);
}

.hamburger__menu:hover > div {
  background-color: var(--font-pink-primary);
}

@media (max-width: 960px) {
  .navbar__links {
    display: none;
  }
  .hamburger__menu {
    display: flex;
  }
}

@media (max-width: 500px) {
  .navbar__logo h2 {
    font-size: 1rem;
  }
}
