.search {
  height: 40px;
  width: 350px;
  border-radius: 50px;
  padding-left: 15px;
  transition: all 0.5s;
  border: solid var(--font-pink-primary) 1px;
  transition: all 0.3s linear;
  position: relative;
}

.search:focus {
  outline: none;
  border: solid var(--font-pink-primary) 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
