.productscreen {
  max-width: 1300px;
  margin: 1rem auto;
  display: flex;
}

.productscreen__left {
  display: flex;
  flex: 0.8;
}

.left__image {
  margin: 1rem;
  flex: 0.6;
}

.left__info {
  margin: 1rem;
  flex: 0.4;
  background-color: white;
  height: fit-content;
  font-size: 0.9rem;
}

.left__name {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.left__brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
}

left__nwt {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  padding: 2px 6px;
  color: var(--font-white-primary);
  background-color: var(--button-background-light1);
  border-radius: 50px;
}

.left__brand-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left__price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left__price {
  font-size: 1.4rem;
  font-weight: 700;
}

.left__size {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
}

.left__size span {
  font-weight: 700;
  font-size: 1.4rem;
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding: 5px 12px;
  border: 1px solid var(--font-pink-primary);
}

.left__sex,
.left__category,
.left__subCategory,
.left__color,
.left__subColor {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  padding: 7px 12px;
  margin-right: 5px;
  color: var(--font-white-primary);
  background-color: var(--button-background-light1);
  border-radius: 50px;
  border: 3px solid transparent;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.left__sex:hover,
.left__category:hover,
.left__subCategory:hover,
.left__color:hover,
.left__subColor:hover {
  border: var(--font-pink-primary) solid 3px;
}

.left__sex-container {
  display: flex;
  align-items: center;
}

.left__color-container {
  display: flex;
  align-items: center;
}

.left__info > p,
.left__info > div,
.right__info > p {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.left__info > div:last-child,
.right__info > p:last-child {
  border: none;
}

.productscreen__right {
  flex: 0.2;
}

.right__info {
  width: 250px;
  margin: 1rem;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.right__info p {
  padding: 1rem;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.right__info p > button {
  grid-column: 1 / -1;
  color: var(--font-white-primary);
  background-color: var(--font-pink-primary);
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.right__info p > button:hover {
  opacity: 0.9;
}

.right__info p > button:active {
  transform: scale(0.98);
  box-shadow: none;
}

.right__info p > button:focus {
  outline: none;
}

.right__info select {
  padding: 10px 16px;
}

@media (max-width: 960px) {
  .productscreen {
    flex-direction: column;
  }
  .productscreen__left {
    flex-direction: column;
    flex: 1;
  }
  .left__image {
    flex: 1;
  }
  .left__info {
    flex: 1;
  }
  .productscreen__right {
    flex: 1;
    padding: 1rem;
  }

  .right__info {
    width: 100%;
    margin: 0;
  }
}
