:root {
  --font-white-primary: #f4f4f4;
  --font-pink-primary: #ff4faa;
  --button-background-dark1: #333;
  --button-background-light1: rgb(99, 99, 99);
  --background-dark1: #171717;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: var(--font-white-primary);
}

img {
  width: 100%;
  object-fit: contain;
}
